<section class="py-4 unselectable nav-bar sticky-top">
    <div class="row px-5">
        <div class="col-md-auto logo pe-5 me-4">
            <div class="row">
                <div class="col">
                    <a href="#top" class="logo-text"><strong>blog</strong>.pyaesonemyo.com</a>
                </div>
                <div class="col">
                    <div class="switch">
                        <input type="checkbox" id="toggle" class="toggle-input">
                        <label for="toggle" class="slider">
                            <span class="knob">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Flag_of_the_United_Kingdom_%281-2%29.svg/1200px-Flag_of_the_United_Kingdom_%281-2%29.svg.png"
                                    alt="Off" class="off-image">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/Flag_of_Myanmar.svg/2560px-Flag_of_Myanmar.svg.png"
                                    alt="On" class="on-image">
                            </span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <i class="fa-solid fa-house fa-xs" style="padding-right: 5px;"></i>
            <a class="text-end inconsolata link-btn i18n" href="/"
                data-content-2="ပင်မစာမျက်နာ">
                Home</a>
        </div>
        <div class="col-2 dropdown inconsolata">
            <i class="fa-solid fa-bars fa-xs align-middle" style="padding: 0 5px 2px 0;"></i>
            <a class="link-btn dropdown-toggle i18n" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                data-content-2="အခြား">
                Menu
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item" href="https://pyaesonemyo.com">Portfolio</a>
                </li>
                <li><a class="dropdown-item" href="https://github.com/Rickaym#:~:text=Pinned">Projects</a></li>
            </ul>
        </div>
    </div>
</section>