<section class="py-4 unselectable nav-bar sticky-top">
    <div class="row px-5">
        <div class="col-md-auto logo pe-5 me-4">
            <a href="#top" class="logo-text">
                <strong>blog</strong>.pyaesonemyo.dev
            </a>
        </div>
        <a class="col-1 text-end inconsolata link-btn" href="https://pyaesonemyo.dev/">Home</a>
        <div class="col dropdown inconsolata">
            <button class="ps-4 link-btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Menu
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://projects.pyaesonemyo.dev">Projects</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                    <a class="dropdown-item" href="#">Something else here</a>
                </li>
            </ul>
        </div>
    </div>
</section>