<html lang="en">

<head>
  <title>{{title}}</title>
  {{> head}}
</head>

<body>
  {{> lenis}}
  <div id="cursor"></div>
  <div id="loading-wrapper" style="position: absolute; z-index: 10000">
    <div class="frame-wrapper">
      <div style="height: 100%"></div>
    </div>
  </div>
  <div class="frame-wrapper">
    <div class="frame">
      {{> navbar}}
      <section class="mt-5 ms-5">
        <h1 class="page-title" style="backdrop-filter: blur(10px);">
          {{title}}
        </h1>
        <p class="page-content">
          {{{ content.html }}}
        </p>

      </section>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
  <script src="https://pyaesonemyo.dev/js/cursor.js"></script>
  <script src="https://pyaesonemyo.dev/js/loading.js"></script>
</body>

</html>
