.card-issue {
    transition-duration: 500ms;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: none;
    cursor: pointer;
}

.card-issue:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
}

.card-issue .card-title {
    transition-duration: 500ms;
    font-weight: 200;
    text-decoration: underline solid transparent;
}

.card-issue:hover .card-title {
    text-decoration: underline solid black;
}

.card-issue-footer {
    color: var(--accent);
    font-family: Montserrat;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}